<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PHProgressHUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD3F50DD1E1F37230087770F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD3F50F61E1F37240087770F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD3F51011E1F37240087770F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
